.textarea-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-bottom: 1.6rem;
}

.textarea__container {
  padding: 2rem;
  padding-bottom: 0;
  font-family: inherit;
  font-size: var(--text-preset-3-font-size);
  line-height: var(--text-preset-3-line-height);
  letter-spacing: -0.6px;
  background-color: var(--neutral-400);
  border-radius: 12px;
  border: 1px solid var(--neutral-500);
  min-height: 200px;
  resize: vertical;
  color: inherit;
}

body.dark-mode .textarea__container {
  background-color: #2a2b37;
}

.textarea__container:focus {
  outline: none;
}

.textarea__error {
  color: var(--orange-800);
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.textarea__error__icon {
  font-size: 1.4rem;
}

.textarea__error__text {
  font-size: var(--text-preset-4-font-size);
  line-height: var(--text-preset-4-line-height);
  letter-spacing: var(--text-preset-4-letter-spacing);
}

.options {
  display: flex;
  font-size: var(--text-preset-4-font-size);
  align-items: center;
  margin-bottom: 4.8rem;
}

.options__label {
  margin-right: 2.4rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.options__label:nth-child(2) {
  margin-right: auto;
}

.options__input {
  appearance: none;
  margin-right: 1rem;
}

.options__input::before {
  display: inline-block;
  content: "";
  display: flex;
  width: 16px;
  height: 16px;
  border: 1px solid var(--neutral-900);
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  padding: 2px;
}

.options__input:checked::before {
  background-color: var(--blue-400);
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  border-color: transparent;
}

.options__input[type="number"] {
  padding: 0.4rem 1.2rem;
  border-radius: 0.6rem;
  font-size: var(--text-preset-4-font-size);
  line-height: var(--text-preset-4-line-height);
  letter-spacing: var(--text-preset-4-letter-spacing);
  border: 1px solid var(--neutral-600);
  color: var(--neutral-900);
  font-family: inherit;
  background-color: transparent;
  appearance: none;
  width: 55px;
  margin-left: 1rem;
}

.options__input:focus {
  outline: none;
}

body.dark-mode .options__input {
  color: #ffffff;
}

.error-textarea {
  box-shadow: 0px 0px 8px #da3701;
  border-color: #da3701;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

@media screen and (max-width: 768px) {
  .textarea-wrapper {
    margin-bottom: 4rem;
  }
}

@media screen and (max-width: 375px) {
  .textarea__container.container {
    padding: 1.2rem;
    padding-bottom: 0;
  }

  .options {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.2rem;
  }

  .options__label:nth-child(2) {
    margin-right: 0;
  }
}
